.App {
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}




.App-header {
  background-color: #28a745;
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: left; 
  align-items: center; 
}

.App-header .p{
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

.logo{
  width: 60px;
  height: 60px;
  margin: 15px;
}


.flex-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  margin: 2rem;
}

.form-inline{
  margin-left:70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-buttons{
  margin: 5px!important; 
}

.fav-bar{
  display: flex;
  flex-flow: row;
  position: absolute;
  top:0;
  right: 0;
  margin-right: 12px;
  margin-top:12px;
  align-items:center ;
}

.fav-icon{
  width: 36px;
  height: 36px;
  margin: 4px;
}

.App-footer{
  background-color: #222;
  color: #fff;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}
.App-footer a{
  color:#28a745;
  margin:0px 5px;
}

.fav-text{
  color: white;
}

.card-body{
  background-color: #fcfffa;
}

@media(max-width: 600px){
  .flex-row{
    margin:0.5rem;
  }
  .card{
    width: 100%!important;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .App-header{
    flex-direction: column;
    justify-content: center;
  }
  .form-inline{
    margin:10px;
    justify-content: space-between;
  }
  .search-buttons{
    width: 45%;
  }
  .App-footer{
    justify-content: center;
  }

  
  

}

.btn{
  margin:15px;
}

.card{
  margin-bottom: 2rem!important;
}

.card-img-top{
  height: 18.75rem;
}

.player-background{
  position: absolute; 
  top: 0px; 
  width:100%; 
  background-color:#000; 
  min-height: 100vh;
  overflow-y: hidden;
}

.close-button{
  position: absolute;
  top: 8px;
  right:8px; 
  z-index:1
}





