.App {
  text-align: center;
  background-color: rgba(0,20,1,0.1);

}


.App-header {
  background-color: #005221;
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: left; 
  align-items: center; 
}

.App-header .p{
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

.logo{
  width: 60px;
  height: 60px;
  margin: 15px;
}


.flex-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}

.form-inline{
  margin-left:70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-buttons{
  margin: 5px; 
}

@media(max-width: 600px){
  .flex-row{
    margin:0.5rem;
  }
  .card{
    width: 100%!important;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .App-header{
    flex-direction: column;
    justify-content: center;
  }
  .form-inline{
    margin:10px;
    justify-content: space-between;
  }
  .search-buttons{
    width: 45%;
  }

  
  

}

.card{
  margin-bottom: 2rem!important;
}

.card-img-top{
  height: 18.75rem;
}

.player-background{
  position: absolute; 
  top: 0px; 
  width:100%; 
  background-color:#000; 
  height:1000px;
}

.close-button{
  position: absolute;
  top: 8px;
  right:8px; 
  z-index:1
}





